.jumbotron{ 
	background-color: #7EAEA2;
	color: #1E3A5F;
	text-align: center;
	margin-top: 50px;

}
footer{
	padding: 10px 10px 0 10px;
	background-color: #7EAEA2;
	margin-bottom: 0px;
	margin-top: 20px;
	color: #1E3A5F;
}
.card-hotel{
	flex: 1 250px;
	margin-top: 10px;
}
.btn-reserve{
	width: 100%;
	border-radius: 0px; 
}

.footer-address-icon{
	padding-right: 8px;
}
.tab-content{
	padding-top: 7px;
}
.btn-collapse{
	margin-top: 20px;
}
.carousel-inner{
	height: 400px;
}
.carousel-item >img{
	height: 400px;
}
