.jumbotron {
  background-color: #C41A1A;
  color: #003333;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
.breadcrumb {
  margin-top: 15px;
  margin-bottom: 15px;
}
footer {
  background-color: #C41A1A;
  color: #003333;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserve {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-top: 0;
  padding-right: 8px;
  padding-bottom: 0;
  padding-left: 0;
  background-color: #C41A1A;
}
.tab-content {
  padding-top: 7px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.btn-collapse {
  margin-top: 20px;
  margin-bottom: 0px;
}
.carousel-inner {
  height: 400px;
}
.carousel-item > img {
  height: 400px;
}
