@red:#C41A1A;
@yellow:#fcd560;
@green:#354F00;
@blue:#003333;

.margenes(@top, @bottom){
  margin-top: @top;
  margin-bottom: @bottom;  
}

.jumbotron {
  background-color: @red;
  color: @blue;
  text-align: center;
  .margenes(50px,0px) 
}

.breadcrumb {
  margin-top: 15px;
  margin-bottom: 15px; }

footer {
  background-color: @red;
  color: @blue;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserve {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0;
  padding-right: 8px;
  padding-bottom: 0;
  padding-left: 0;
  background-color: @red; }

.tab-content {
  padding-top: 7px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.btn-collapse {
  margin-top: 20px;
  margin-bottom: 0px; }

.carousel-inner {
  height: 400px; }

.carousel-item > img {
  height: 400px; }
