$yellow:#fcd560;
$red:#C41A1A;
$green:#354F00;
$blue: #003333;

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddings ($ptop, $pright, $pbottom, $pleft){
	padding-top: $ptop;
	padding-right: $pright;
	padding-bottom: $pbottom;
	padding-left: $pleft;	
}

.jumbotron{ 
	background-color: $red;
	color: $blue;
	text-align: center;
	@include margenes (50px, 0px);

}
.breadcrumb{
	@include margenes(15px,15px);
}
footer{
	background-color:$red;
	color: $blue;
	@include paddings (10px, 10px, 0, 10px);
	@include margenes (20px, 0px);	
}

.card-hotel{
	flex: 1 250px;
	@include margenes (10px, 0px);
}
.btn-reserve{
	width: 100%;
	border-radius: 0px; 
}

.footer-address-icon{
	@include paddings (0, 8px, 0, 0);
	background-color:$red;
}
.tab-content{
	@include paddings (7px, 0, 0, 0);
}
.btn-collapse{
	@include margenes (20px, 0px);
}
.carousel-inner{
	height: 400px;
}
.carousel-item >img{
	height: 400px;
}

